@font-face {
    font-family: "Fourche";
    src: url(fonts/sf-fourche.regular.ttf);
}

@font-face {
    font-family: "FourcheBold";
    src: url(fonts/sf-fourche.bold.ttf);
}

::-webkit-scrollbar {
    width: 2px;
    background-color: black;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: white; 
  border-radius: 20px;
}

.navbar {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 60em;
    height: 8em;
    top: 0;
    margin-top: .2em;
    margin: 0;
    padding: 0;
}

#main-planets {
    appearance: none;
    background-color: transparent;
    border: 0.125em solid #fff2f2;
    box-sizing: border-box;
    margin-top: .5em;
    border-width: 4px;
    border-style: outset;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
    height: 40px;
    width: 140px;
    color: white;
    cursor: pointer;
    font-size: 1.5em;
    font-family: FourcheBold;
    /* background-color: rgba(255, 255, 255, 0); */
}

#main-planets:disabled {
    pointer-events: none;
}

#main-planets:hover {
    color: black;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

#main-planets:active {
    box-shadow: none;
    transform: translateY(0);
   }

#main-explore {
    appearance: none;
    background-color: transparent;
    border: 0.125em solid #ffffff;
    box-sizing: border-box;
    border-width: 4px;
    border-style: outset;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
    margin-top: .5em;
    height: 40px;
    width: 140px;
    font-size: 1.5em;
    color: white;
    cursor: pointer;
    font-family: FourcheBold;
    background-color: rgba(255, 255, 255, 0);
}

#main-explore:disabled {
    pointer-events: none;
}

#main-explore:hover {
    color: black;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

#main-explore:active {
    box-shadow: none;
    transform: translateY(0);
   }

.navbar p{
    position: relative;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Fourche;
    top: 0;
    font-size: 400%;
    margin-top: .5em;
    margin-bottom: 30px;
    padding: 0px .7em 0px .7em;
}


*,*:before,*:after {
	box-sizing: border-box;
}

:after {
	content: "";
}

.sidebar {
    z-index: 100;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 23vh;
    left: -2.5em;
    background: transparent;
}

.sidebar li {
    list-style-type: none;
}
  
nav ul {
    text-align: center;
}
  
nav ul li {
    position: relative;
    width: 80px;
    cursor: pointer;
    background: white;
    text-transform: uppercase;
    transition:all .4s ease-out;
}

nav ul li:after {
    position: absolute;
    background: black;
    color: white;
    border: 2px solid white;
    font-family: Fourche;
    font-size: .8em;
    top:0;
    left: 70px;
    width: 80px; 
    height: 100%;
    opacity:.5;
    transform: perspective(400px) rotateY(90deg);
    transform-origin: 0 100%;
    transition:all .4s ease-out;
}
  
nav ul .first:after { 
    content: "Home";
    line-height: 88px;
}
nav ul .second:after { 
    content: "Details";
    line-height: 90px;
}
nav ul .third::after {
    content: "Explore";
    line-height: 90px;
}
nav ul .fourth:after { 
    content: "About";
    line-height: 88px;
}
nav ul .fifth::after {
    content: "Credits";
    line-height: 88px;
}
nav ul .sixth:after { 
    content: "Review";
    line-height: 88px;
}

nav ul li:hover {
    transform: translateX(-70px);
}

nav ul li:hover:after {
    opacity: 1;
    transform: perspective(400px) rotateY(0deg) scale(1) ;
}


nav ul li > div {
    display: inline-block;
    padding: 25px 0;
    background: transparent;
}

nav ul li div { position: relative; }

@media only screen and (max-width: 600px) {
    .sun {
        width: 15em;
        height: 15em;
        top: 40vh;
    }

    .mercury, .venus, .earth, .mars, .jupiter, .saturn, 
    .uranus, .neptune {}

    .jupiter {
        width: 8em;
        height: 8em;
    }

    #main-planets {
        position: absolute;
        top: 10vh;
        left: 40vw;
    }

    #main-explore {
        position: absolute;
        top: 10vh;
        right: 40vw;
    }

    #loader {
        top: -.5vh;
        left: 1vw;
        width: 15em;
        height: 15em;
    }


    .mercury-desc, .venus-desc, .earth-desc, .mars-desc,
    .jupiter-desc, .saturn-desc, .uranus-desc, .neptune-desc {
        top: -14vh;
        left: 20vw;
    }

    .sun-desc {
        top: 75%;
    }

    .menuButton {
        bottom: 5vh;
        right: 8vw;
    }
  }

@media only screen and (max-width: 320px) {
    body {
        overflow-x: hidden;
    }
    .navbar p{
        position: absolute;
        font-size: 200%;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: white;
        top: 2vh;
        left: 102vw;
        font-family: FourcheBold;
    }

    #main-planets {
        position: absolute;
        width: 110px;
        height: 30px;
        top: 15vh;
        left: 110vw;
        font-size: 1em;
    }

    #main-explore {
        position: absolute;
        width: 110px;
        height: 30px;
        top: 15vh;
        right: 110vw;
        font-size: 1em;
    }

    .sun {
        width: 10em;
        height: 10em;
        top: 45vh;
    }

    .mercury, .venus, .earth, .mars, .jupiter, .saturn, 
    .uranus, .neptune, .sun, .sundesc, .menuButton, .moon {
        cursor: none;
    }

    .jupiter {
        width: 5em;
        height: 5em;
    }

    #loader {
        top: -.5vh;
        left: 1vw;
        width: 10em;
        height: 10em;
    }

    .mercury-desc, .venus-desc, .earth-desc, .mars-desc,
    .jupiter-desc, .saturn-desc, .uranus-desc, .neptune-desc {
        width: 20em;
        height: 5em;
        font-size: 12px;
        top: -12vh;
        left: 25vw;
    }
    
    .sundesc {
        width: 10em;
        height: 10em;
        top: 45vh;
        border-radius: 50%;
    }

    .sun-desc {
        top: 75%;
        width: 20em;
        height: 5em;
        font-size: 12px;
    }

    .menuButton {
        width: 3em;
        height: 3em;
        bottom: 5vh;
        right: 8vw;
        padding: 5px;
    }

    .menuItem {
        font-size: 12px;
    }

    .bar {
        height: 5px;
    }

    .mercury {
        width: 2em;
        height: 2em;

        box-shadow: inset -9px -15px 14.5px -4px, -10px -7px 29.5px -7px #ccc;
    }

    .venus {
        width: 3em;
        height: 3em;

        box-shadow: inset -9px -15px 14.5px -2px, -14px -7px 29.5px -7px #e39e1c;
    }

    .earth {
        width: 4em;
        height: 4em;

    }

    .mars {
        width: 2.5em;
        height: 2.5em;

        box-shadow: inset -9px -15px 14.5px -4px, -10px -7px 29.5px -7px #7a4507;
    }

    .jupiter {
        width: 5em;
        height: 5em;
    }

    .saturn {
        width: 15em;
        height: 8em;
    }

    .saturn-shadow {
        box-shadow: none;
    }

    .uranus {
        width: 4em;
        height: 4em;
    }

    .neptune {
        width: 4.5em;
        height: 4.5em;
    }

    @keyframes orbit-mercury{
        49% { z-index: 1;}
        50% {
            left: 15em;
            z-index: -1;
        }
        75% {}
        99% {z-index: -1;}
        100% {
            left: -7em;
            z-index: 1;
        }
    }
    
    @keyframes orbit-venus{
        49% { z-index: 1;}
        50% {
            left: 20em;
            z-index: -2;
        }
        75% {}
        99% {z-index: -2;}
        100% {
            left: -18em;
            z-index: 2;
        }
    }
    
    @keyframes orbit-earth{
        49% { z-index: 3;}
        50% {
            left: 30em;
            z-index: -3;
        }
        99% {z-index: -3;}
        100% {
            left: -28em;
            z-index: 3;
        }
    }
    
    @keyframes orbit-moon{
        49% { z-index: 4;}
        50% {
            left: 35em;
            z-index: -4;
        }
        99% {z-index: -4;}
        100% {
            left: -30em;
            z-index: 4;
        }
    }
    
    
    @keyframes orbit-mars{
        49% { z-index: 1;}
        50% {
            left: 43em;
            z-index: -4;
        }
        75% {}
        99% {z-index: -4;}
        100% {
            left: -34em;
            z-index: 4;
        }
    }
    
    @keyframes orbit-jupiter{
        49% { z-index: 1;}
        50% {
            left: 50em;
            z-index: -5;
        }
        75% {}
        99% {z-index: -5;}
        100% {
            left: -48em;
            z-index: 5;
        }
    }
    
    @keyframes orbit-saturn{
        49% { z-index: 1;}
        50% {
            left: 56em;
            z-index: -6;
        }
        99% {z-index: -1;}
        100% {
            left: -73em;
            z-index: 6;
        }
    }
    
    @keyframes orbit-saturn-shadow{
        49% { z-index: 1;}
        50% {
            left: 56em;
            z-index: -6;
        }
        99% {z-index: -1;}
        100% {
            left: -73em;
            z-index: 6;
        }
    }
    
    @keyframes orbit-uranus{
        49% { z-index: 1;}
        50% {
            left: 65em;
            z-index: -7;
        }
        99% {z-index: -1;}
        100% {
            left: -90em;
            z-index: 7;
        }
    }
    
    @keyframes orbit-neptune{
        49% { z-index: 1;}
        50% {
            left: 7em;
            z-index: -8;
        }
        99% {z-index: -8;}
        100% {
            left: -110em;
            z-index: 8;
        }
    }
  }

  @media only screen and (max-width: 360px) {
    body {
        overflow-x: hidden;
    }
    .navbar p{
        position: absolute;
        font-size: 200%;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: white;
        top: 2vh;
        left: 91vw;
        font-family: FourcheBold;
    }

    #main-planets {
        position: absolute;
        width: 100px;
        height: 30px;
        top: 10vh;
        left: 98vw;
        font-size: 1em;
    }

    #main-explore {
        position: absolute;
        width: 100px;
        height: 30px;
        top: 10vh;
        right: 99vw;
        font-size: 1em;
    }

    .sun {
        width: 10em;
        height: 10em;
        top: 40vh;
    }

    .mercury, .venus, .earth, .mars, .jupiter, .saturn, 
    .uranus, .neptune, .sun, .sundesc, .menuButton, .moon {
        cursor: none;
    }

    .jupiter {
        width: 5em;
        height: 5em;
    }

    #loader {
        top: -.2vh;
        left: 1vw;
        width: 10em;
        height: 10em;
    }

    .mercury-desc, .venus-desc, .earth-desc, .mars-desc,
    .jupiter-desc, .saturn-desc, .uranus-desc, .neptune-desc,.moon-desc {
        width: 20em;
        height: 4em;
        font-size: 12px;
        top: -12vh;
        left: 25vw;
    }
    
    .moon-desc {
        padding-bottom: 1em;
        height: 5em;
    }

    .sundesc {
        width: 10em;
        height: 10em;
        top: 45vh;
        border-radius: 50%;
    }

    .sun-desc {
        top: 75%;
        width: 20em;
        height: 5em;
        font-size: 12px;
    }

    .menuButton {
        width: 3em;
        height: 3em;
        bottom: 5vh;
        right: 8vw;
        padding: 5px;
    }

    .menuItem {
        font-size: 12px;
    }

    .bar {
        height: 5px;
    }

    .mercury {
        width: 2em;
        height: 2em;

        box-shadow: inset -9px -15px 14.5px -4px, -10px -7px 29.5px -7px #ccc;
    }

    .venus {
        width: 3em;
        height: 3em;

        box-shadow: inset -9px -15px 14.5px -2px, -14px -7px 29.5px -7px #e39e1c;
    }

    .earth {
        width: 4em;
        height: 4em;

    }

    .mars {
        width: 2.5em;
        height: 2.5em;

        box-shadow: inset -9px -15px 14.5px -4px, -10px -7px 29.5px -7px #7a4507;
    }

    .jupiter {
        width: 5em;
        height: 5em;
    }

    .saturn {
        width: 15em;
        height: 8em;
    }

    .saturn-shadow {
        box-shadow: none;
    }

    .uranus {
        width: 4em;
        height: 4em;
    }

    .neptune {
        width: 4.5em;
        height: 4.5em;
    }

    @keyframes orbit-mercury{
        49% { z-index: 1;}
        50% {
            left: 15em;
            z-index: -1;
        }
        75% {}
        99% {z-index: -1;}
        100% {
            left: -7em;
            z-index: 1;
        }
    }
    
    @keyframes orbit-venus{
        49% { z-index: 1;}
        50% {
            left: 20em;
            z-index: -2;
        }
        75% {}
        99% {z-index: -2;}
        100% {
            left: -18em;
            z-index: 2;
        }
    }
    
    @keyframes orbit-earth{
        49% { z-index: 3;}
        50% {
            left: 30em;
            z-index: -3;
        }
        99% {z-index: -3;}
        100% {
            left: -28em;
            z-index: 3;
        }
    }
    
    @keyframes orbit-moon{
        49% { z-index: 4;}
        50% {
            left: 35em;
            z-index: -4;
        }
        99% {z-index: -4;}
        100% {
            left: -30em;
            z-index: 4;
        }
    }
    
    
    @keyframes orbit-mars{
        49% { z-index: 1;}
        50% {
            left: 43em;
            z-index: -4;
        }
        75% {}
        99% {z-index: -4;}
        100% {
            left: -34em;
            z-index: 4;
        }
    }
    
    @keyframes orbit-jupiter{
        49% { z-index: 1;}
        50% {
            left: 50em;
            z-index: -5;
        }
        75% {}
        99% {z-index: -5;}
        100% {
            left: -48em;
            z-index: 5;
        }
    }
    
    @keyframes orbit-saturn{
        49% { z-index: 1;}
        50% {
            left: 56em;
            z-index: -6;
        }
        99% {z-index: -1;}
        100% {
            left: -73em;
            z-index: 6;
        }
    }
    
    @keyframes orbit-saturn-shadow{
        49% { z-index: 1;}
        50% {
            left: 56em;
            z-index: -6;
        }
        99% {z-index: -1;}
        100% {
            left: -73em;
            z-index: 6;
        }
    }
    
    @keyframes orbit-uranus{
        49% { z-index: 1;}
        50% {
            left: 65em;
            z-index: -7;
        }
        99% {z-index: -1;}
        100% {
            left: -90em;
            z-index: 7;
        }
    }
    
    @keyframes orbit-neptune{
        49% { z-index: 1;}
        50% {
            left: 7em;
            z-index: -8;
        }
        99% {z-index: -8;}
        100% {
            left: -110em;
            z-index: 8;
        }
    }
}
  

