body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
}

.loader {
    position: absolute;
    top: 12rem;
    width: 20em;
    height: 20em;
    background-image: url(../logos/logowhitefont.png);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    opacity: 0;
}

#loader {
    animation: load 4s ease-in-out infinite;
}

@keyframes load {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}