body {
    background-image: url(../space.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}